.card-container{
    width: auto;
    height: 97.5%;
    padding: 10px;
    border-radius: 10px!important;
  
}

.load-more{
  font-size: 16px;
  float: right;
  margin: 10px 20px;
}

.card-coloumn{
  padding-left: 5px!important;
  padding-right: 5px!important;
}